.App {
  text-align: center;
  margin: 30px 60px;
  padding: 20x;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

/*for first td of each row and the child div of each of that td.*/
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}